body {
    background-color: #0f172a;
    font-family: Arial;
    color: white;
}

.chat-container {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.chat-user {
    background: linear-gradient(135deg, #ff7a18, #ffb347);
    padding: 12px;
    border-radius: 14px;
    margin: 8px 0;
    color: black;
}

.chat-bot {
    background: linear-gradient(135deg, #232526, #414345);
    padding: 12px;
    border-radius: 14px;
    margin: 8px 0;
}

.input-row {
    display: flex;
    margin-top: 20px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
}
